/* 01. Webfonts and iconfonts
/* =================================================================== */
@import url("https://kit.fontawesome.com/ee3b09a28a.css");
@import url("fontsquirrel.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.min.css");
@font-face {
  font-family: 'LibreCaslonCondensed';
  src: url('../resources/fonts/LibreCaslonCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 02. Document setup
/* =================================================================== */
:root {
  --active-bg-color: #88e788;
  --hover-bg-color: #383849;
  --white-color: #fafafb;
  --background-color: #111111;
  --grey-color: #b5b5be;
  --dark-grey-color: #292932;
}
body {
  background-color: #111111;
  height: 1000%;
  font-weight: normal;
  color: #575859;
}
#kiri {
  font-size:20px;
  float: left;
  max-width: 40px;


}
#kiri a{
  font: 10px/24px "montserrat-regular", sans-serif;

}
#kanan {

  width: 100%;
  height:100%;
  position: fixed;
  background-color: transparent;
  float: left;
}	
iframe {
  width:100%;
  height:100%;
}
a .calendar-text { 
  margin-left: 0.5px;
  font: 10px/20px "montserrat-bold", sans-serif;
  color:var(--white-color); 
}
a .circle { 
  color:var(--white-color); 
  font-family: "Font Awesome 6 Pro";
  font-size: 20px;
  text-decoration: none;
}
a .circle:hover { 
  background-color: transparent;
}
.tooltiptext {
  visibility: hidden;
  background-color: var(--grey-color);
  color: var(--dark-grey-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: fixed ;
  z-index: 1;
  left: 2.4rem;
  font: 10px/20px "Roboto", sans-serif;
  white-space: normal;
  max-width: 100px;
  word-wrap: break-word;
}

.tultip:hover .tooltiptext {
  visibility: visible;
}
.dropdown-content {
  display: none;
}
.show {display: block;}
.dropbtn {
  border: none;
  cursor: pointer;
  color:transparent:
}
#jb-button {
  width: 30px;
  height: 40px;
  padding: 0px;
}
#jb-button svg {
  width: 27px;
  height: 36px;
}
.sidebar .list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 100px;
}

.sidebar .list-item:hover {
  background-color: transparent;
}
.sidebar .list-item:hover {
  background-color: transparent;
}

.sidebar .list-item i {
  font-size: 1.2rem;
  padding: 10px 10px;
  border-radius: 60px;
}

.sidebar .list-item.active i {
  background-color: var(--active-bg-color);
}

.sidebar .list-item p {
  display: none;
  font-size: 14px;
  margin-top: 15px !important;
  margin-block-start: 0.2em;
}
.sidebar {
  width: var(--sidebar-collapsed-width);
  font-size: 36px;
  transition: 0.5s ease;
  padding-top: 9px;
  background-color: #111111;
  color: var(--grey-color);
  border-right: 0px solid #e6e6e6;
  white-space: nowrap;
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
}

.sidebar>ul {
  padding: 1px;
}